resources/test/grafcet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="action" type="xs:string"/>
  <xs:element name="actions">
    <xs:complexType mixed="false">
      <xs:sequence>
        <xs:element ref="action" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="step">
  <!--
   TODO add unicity to step num
  		ex for 	<group name="1">
		<xs:unique name="uniqueGroupName">
			<xs:selector xpath="group"/>
			<xs:field xpath="@name"/>
		</xs:unique>
 -->
    <xs:complexType mixed="false">
      <xs:sequence>
        <xs:element ref="actions" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="num" use="optional"/>
      <xs:attribute type="xs:int" name="x" use="optional"/>
      <xs:attribute type="xs:int" name="y" use="optional"/>
      <xs:attribute type="xs:boolean" name="initial" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="steps">
    <xs:complexType mixed="false">
      <xs:sequence>
        <xs:element ref="step" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transition">
    <xs:complexType mixed="false">
      <xs:attribute type="xs:int" name="num" use="optional"/>
      <xs:attribute type="xs:int" name="x" use="optional"/>
      <xs:attribute type="xs:int" name="y" use="optional"/>
      <!-- TODO: Add transition condition element -->
    </xs:complexType>
  </xs:element>
  <xs:element name="transitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="transition" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="execute">
    <xs:complexType>
      <xs:attribute type="xs:int" name="step" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="step2transition">
    <xs:complexType>
      <!-- Use Identifiers with key/keyref see https://www.w3.org/TR/xmlschema-1/#cIdentity-constraint_Definitions -->
      <xs:attribute type="xs:int" name="step"/>
      <xs:attribute type="xs:int" name="transition"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transtion2step">
    <xs:complexType>
      <!-- Use Identifiers with key/keyref see https://www.w3.org/TR/xmlschema-1/#cIdentity-constraint_Definitions -->
      <xs:attribute type="xs:int" name="transition"/>
      <xs:attribute type="xs:int" name="step"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="divergence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="execute" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="transition"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="convergence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="execute" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="transition" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="links">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="step2transition"/>
        <xs:element ref="divergence"/>
        <xs:element ref="convergence"/>
        <xs:element ref="transtion2step"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="grafcet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="steps"/>
        <xs:element ref="transitions"/>
        <xs:element ref="links"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>